body.admin{
    --primary: #2966A3;
    --primary-hover: #204F7E;
    --primary-press: #1B426A;
    --red: #FF4D00;
    --red-hover: #AA5518;
    --blue: #2947A3;
    --blue-hover: #1F367A;
    --green: #689F38;
    --green-hover: #4F792B;
    --skyblue: #0288D1;
    --skyblue-hover: #01669D;
    --cancel: #757575;
    --cancel-hover: #5C5C5C;
    --dark: #424242;
    --dark-hover: #292929;
    --th: #F6F7F9;
    --tr-hover: #F2F8F7;
    --infobox: #F4F6FA;

    .section-header{
        &::before{
            filter: brightness(0) saturate(100%) invert(22%) sepia(98%) saturate(1520%) hue-rotate(192deg) brightness(110%) contrast(108%);
        }
    }

    .layout{
        .lnb{
            .menu{
                &.current{
                    &::before{
                        background-image: url(../image/Map-Arrow-Right-blue.svg);
                    }
                }
            }
        }
    }

    .tab-row{
        .tab{
            &:hover{
                background-color: #E0F0FF;
            }
        }
    }

    .color-label{
        &.green{
            background-color: #0288D1;
            color: #FFF;
        }
    }

    .table-container{
        table{
            td{
                &.category{
                    background-color: var(--blue);
                }
            }
        }
    }
    
    global-header-menu{
        position: absolute;
        width: 100%;
        height: 0px;
        overflow: hidden;
        background-color: #FFF;
        border-bottom: solid 1px var(--primary);
        top: 4.75rem;
        left: 0;
        z-index: 90;
        transition: height 0.2s ease-in-out;
        
        .inner{
            display: flex;
            flex-direction: column;
            max-height: 30rem;
            overflow-y: auto;
            overscroll-behavior: none;
            margin: 1rem auto;

            & > .col{
                &:last-of-type{
                    border-bottom: 0;
                }
            }
        }
        .col{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.75rem;
            width: 100%;
            border-bottom: solid 1px #BCC1C8;
            padding: 0.5rem 1rem;
            &:hover{
                background-color: var(--tr-hover);
                .category{
                    color: var(--primary);
                }
            }
            .rows{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 0;
                border-left: dashed 1px #BCC1C8;
                width: auto;
            }
            .row{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-grow: 1;
                padding: 0.5rem 0;
                width: auto;
                gap: 0;
                & + .row{
                    border-top: dashed 1px #BCC1C8;
                }
                &:hover{
                    .sub-category{
                        color: var(--green);
                    }
                }
            }
            .category{
                flex-shrink: 0;
                flex-basis: 7rem;
                font-size: 1.15rem;
                font-weight: 700;
                cursor: default;
            }
            .sub-category{
                font-size: 1rem;
                font-weight: 600;
                flex-basis: 10rem;
                flex-shrink: 0;
                padding: 0 0.75rem;
                cursor: default;
                padding-left: 1.5rem;
                color: #000;
            }
            .menus{
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.75rem;
            }
            .menu{
                display: inline-block;
                width: fit-content;
                text-align: left;
                font-size: 0.875rem;
                font-weight: 500;
                padding: 0 0.5rem;
                color: hsla(0,0%,20%,1);
                &:hover{
                    color: var(--primary-hover);
                }
            }
        }
    }

    @media (max-width: 1024px){

        global-header-menu{
            position: fixed;
            top: 4.75rem;
            left: auto;
            right: 0;
            z-index: 90;
            width: 70vw;
            max-width: 20rem;
            height: calc(100vh - 4.75rem);
            border-bottom: 0;
            border-left: solid 1px #BFBFBF;
            transform: translateX(100%);
            transition: transform 0.2s ease-in-out;
            display: flex;
            flex-direction: column;
            &.on{
                transform: translateX(0);
            }
            .inner{
                flex-basis: 0;
                flex-grow: 1;
                max-height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                margin-top: 0;
                padding-bottom: 3rem;
                margin-top: 0;
            }
            .col{
                flex-direction: column;
                flex-direction: column;
                align-items: center;
                gap: 0.75rem;
                width: 100%;
                padding: 1rem;
                padding-left: 0;
                padding-right: 0;
                border-bottom: solid 1px #BCC1C8;
                .category{
                    flex-basis: 0;
                }
                .rows{
                    border: 0;
                    width: 100%;
                }
                .row{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 1;
                    gap: 0.5rem;
                    padding: 0.5rem 0;
                    width: 100%;
                    & + .row{
                        border: 0;
                    }
                }
                .sub-category{
                    padding: 0.5rem;
                    width: 100%;
                    background-color: var(--green);
                    color: #FFF;
                    flex-basis: 0;
                }
                .menus{
                    flex-grow: 0;
                    padding-top: 0.5rem;
                    display: flex;
                    flex-direction: column;
                }
                .menu{
                    display: flex;
                    width: 100%;
            
                }
            }
        }
    
    }
}