@import url(../fonts/pretendard.css);

:root{
    font-size: 16px;
    --primary: #359735;
    --primary-hover: #14B814;
    --primary-press: #178217;
}

*{
    position: relative;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #000;

    &.sub{
        display: flex;
        flex-direction: column;
    }
}

a{
    font: inherit;
    text-decoration: none;
    color: inherit;
}

button{
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    *{
        cursor: inherit;
    }
}

label{
    font: inherit;
    color: inherit;
}

input{
    font: inherit;
    color: inherit;
    margin: 0;
    height: 2.25rem;
    background-color: #FFF;
    border: solid 1px #BFBFBF;
    padding: 0 0.5rem;

    &:focus{
        outline: none;
        border-color: var(--primary);
    }

    &:disabled{
        pointer-events: none;
        background-color: rgba(0,0,0,0.05);
    }
}

select{
    font: inherit;
    color: inherit;
    margin: 0;
    height: 2.25rem;
    background-color: #FFF;
    border: solid 1px #BFBFBF;
    padding: 0 0.5rem;
    &:focus{
        outline: none;
        border-color: var(--primary);
    }
}

textarea{
    font: inherit;
    color: inherit;
    background-color: #FFF;
    border: solid 1px #BFBFBF;
    padding: 0.5rem;
    resize: none;
    width: 100%;
    &:focus{
        outline: none;
        border-color: var(--primary);
    }
}

.inner{
    width: 100%;
    max-width: 91.4375rem;
    margin: 0 auto;
    padding: 0 1rem;
}

span{
    &.red{
        color: #FF4D00;
    }
}

global-header{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4.75rem;
    background-color: var(--primary);

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 95.4375rem;
        padding: 0 1rem;
    }

    .logo{
        position: absolute;
        top: 50%;
        left: 3rem;
        transform: translateY(-50%);
        height: 1.5rem;
    }
}

.btn-header-login{
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../image/user.svg);
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 100%;
    a{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: #FFF;
        height: 100%;
    }
}

golbal-footer{
    flex-shrink: 0;
    display: block;
    width: 100%;
    background-color: #1F2F47;
    .inner{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem 1rem;
    }
    .footer-logo{
        width: 10.75rem;
        img{
            width: 100%;
        }
    }
    .info{
        font-size: 0.875rem;
        line-height: 140%;
        color: #FFF;
    }
    .footer-terms{
        margin-left: auto;
        font-size: 0.875rem;
        font-weight: 700;
        color: #FFF;
    }
}

.main-banner{
    width: 100%;
    height: 46.875rem;
    overflow: hidden;
    background: linear-gradient(180deg, #DFEBAD 0%, #82C082 100%);

    .inner{
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        pointer-events: none;
    }
}

.main-banner-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    .mb-01{
        width: 100%;
        height: 100%;
        background-image: url(../image/main-banner.png);
        background-size: cover;
        background-position: left center;
    }
    .mb-02{
        width: 100%;
        height: 100%;
        background-image: url(../image/main-banner-02.png);
        background-size: cover;
        background-position: center;
    }
    .mb-03{
        width: 100%;
        height: 100%;
        background-image: url(../image/main-banner-03.png);
        background-size: cover;
        background-position: left center;
    }
}

.main-banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.37rem 3.63rem;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    max-width: 49rem;
    pointer-events: all;

    .main-text{
        font-size: 2rem;
        font-weight: 700;
        line-height: 120%;
        span{
            color: var(--primary);
        }
    }
    .search{
        display: flex;
        width: 100%;
        height: 4rem;
        margin-top: 0.75rem;

        input{
            display: block;
            flex-grow: 1;
            border-radius: 0.5rem 0 0 0.5rem;
            height: 100%;
            padding: 0 2.38rem;
            font-size: 1.125rem;
            font-weight: 600;
            border: solid 1px #BCC1C8;
            border-right: 0;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: #A3C2A3;
            }
        }
        .btn-search{
            width: 6.75rem;
            height: 100%;
            border-radius: 0 0.5rem 0.5rem 0;
            background-color: var(--primary);
            background-image: url(../image/Magnifer.svg);
            background-repeat: no-repeat;
            background-size: 1.5rem;
            background-position: center;
            &:hover{
                background-color: var(--primary-hover);
            }
            &:active{
                background-color: var(--primary-press);
            }
        }
    }
    .row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 3.63rem;
        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.62rem;
            width: 12rem;
            height: 12rem;
            border-radius: 6rem;
            background-color: var(--primary);
            img{
                width: 3.5rem;
            }
            label{
                font-size: 1.5rem;
                line-height: 100%;
                color: #FFF;
            }
            &:hover{
                background-color: var(--primary-hover);
            }
            &:active{
                background-color: var(--primary-press);
            }
        }
    }
}

.main-notice-area{
    .inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4.5rem;
        padding: 6rem 1rem;
    }
    .title-row{
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding-bottom: 1rem;
        border-bottom: solid 2px var(--primary);
        width: 100%;
        .title{
            font-size: 2rem;
            font-weight: 700;
            line-height: 100%;
        }
        .sub-text{
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--primary);            
        }
        .more{
            font-size: 0.875rem;
            color: #85AD85;
            margin-left: auto;
        }
    }
    .col{
        overflow: hidden;
    }
    .list{
        .row{
            display: flex;
            align-items: center;
            width: 100%;
            gap: 2rem;
            padding: 1.5rem 1rem;
            border-bottom: solid 1px #BCC1C8;
            &:hover{
                background-color: #F4FBF4;
            }
            .subject{
                flex-grow: 1;
                flex-basis: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 1rem;
                font-weight: 600;
                line-height: 100%;
                &:hover{
                    color: var(--primary);
                }
            }
            .date{
                flex-shrink: 0;
                font-size: 1rem;
                color: #666;
                text-align: right;
            }
        }
    }
}

.main-complaints-area{
    background-color: #F4FBF4;
    .inner{
        padding: 5.75rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.25rem;
    }
    .complaints{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 2rem;
        width: 100%;
    }
}

main-complaints{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.62rem;
    padding: 3rem;
    background-color: #FFF;
    border-radius: 6.75rem;
    overflow: hidden;
    img{
        width: 3.5rem;
    }
    .name{
        font-size: 1.25rem;
        font-weight: 700;
    }
    .datas{
        display: flex;
        flex-direction: column;
        gap: 0.62rem;
        width: 100%;
        .row{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            label{
                font-size: 1rem;
                line-height: 100%;
            }
            .data{
                font-size: 1rem;
                line-height: 100%;
                text-align: right;
            }
        }
    }
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.38rem;
    .caption{
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 100%;
        color: var(--primary);
    }
    .title{
        font-size: 2.75rem;
        font-weight: 700;
    }
    .p{
        font-size: 1.0625rem;
    }
}

.main-odor-control-tips-area{
    .inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding: 6rem 1rem;
    }

    .odor-control-tips{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;

        .col{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            border-radius: 1.5rem;
            overflow: hidden;
            background-color: #DBF0DB;
            &:nth-of-type(2),
            &:nth-of-type(4){
                background-color: #ECF8EC;
            }
        }
        .img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            gap: 0.62rem;
            padding: 0 1.5rem;
            padding-bottom: 2rem;
        }
        .num{
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--primary);
        }
        .title{
            font-size: 1.25rem;
            font-weight: 700;
        }
        .p{
            font-size: 1.0625rem;
            color: #4D4D4D;
        }
    }
}

global-header-menu{
    display: none;
    position: absolute;
    width: 100%;
    padding: 2.5rem 0;
    background-color: #FFF;
    border-bottom: solid 1px var(--primary);
    top: 4.75rem;
    left: 0;
    z-index: 90;

    &.on{
        display: block;
    }
    .inner{
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    .col{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 10rem;
        .category{
            font-size: 1.25rem;
            font-weight: 700;
        }
        .sub-category{
            padding: 0.5rem;
            width: 100%;
            border-bottom: solid 1px #000;
            font-size: 1rem;
            font-weight: 600;
            margin-top: 0.25rem;
        }
        .menu{
            font-size: 0.875rem;
            font-weight: 400;
            padding: 0 0.5rem;
            &:hover{
                color: var(--primary);
            }
        }
    }
}

.sub-top{
    background-color: #F3F3F3;
    flex-shrink: 0;

    .inner{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 2.5rem;
        font-size: 0.75rem;
        font-weight: 400;
        color: #4D4D4D;
        line-height: 100%;
    }
}

.layout{
    margin-top: 1.5rem;
    flex-grow: 1;

    .inner{
        display: flex;
        gap: 2.5rem;
    }

    .lnb{
        flex-shrink: 0;
        width: 14.375rem;
        display: flex;
        flex-direction: column;
        .title{
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0.5rem 0;
            border-bottom: solid 2px #000;
        }
        .menu{
            padding: 0.75rem 0.5rem;
            border-bottom: solid 1px #999;
            font-size: 0.875rem;
            &:hover{
                color: var(--primary);
            }
        }
    }

    .main{
        flex-grow: 1;
        overflow: hidden;
        padding-bottom: 5rem;

        .page-title{
            padding: 0.5rem 0;
            border-bottom: solid 2px #000;
            font-size: 1.25rem;
            font-weight: 700;
        }
        .contents{
            margin-top: 1rem;
            font-size: 0.875rem;
            width: 100%;

            .summary{
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                border-radius: 0.5rem;
                background-color: #F4FBF4;
                padding: 1.5rem;
                width: 100%;

                section{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 0.75rem;
                }
            }
        }
    }

}

.tab-row{
    display: flex;
    gap: 0.25rem;    
    .tab{
        display: flex;
        justify-content: center;
        min-width: 7rem;
        padding: 0.5rem;
        background-color: #EEE;
        font-size: 0.875rem;
        color: #3D3D3D;
        cursor: pointer;
        &.on{
            background-color: var(--primary);
            font-weight: 700;
            pointer-events: none;
            color: #FFF;
        }
    }
}

.tab-contents{
    display: none;
    width: 100%;

    &.on{
        display: block;
    }
}

.search-area{
    display: grid;
    grid-template-columns: 23.625rem 23.625rem;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #F4FBF4;
    border: solid 1px var(--primary);
    input{
        width: 100%;
    }
    select{
        width: 100%;
        &.city{
            width: 50%;
        }
    }
    .col{
        display: flex;
        align-items: center;
        gap: 0.75rem;

        label{
            display: block;
            flex-shrink: 0;
            flex-basis: 6rem;
            word-break: keep-all;
        }
    }
    .col__row{
        display: flex;
        gap: 0.5rem;
        flex-grow: 1;
    }
}

.search-button-area{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.38rem;
    background-color: var(--primary);
    padding: 0 0.875rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #FFF;
    width: fit-content;
    height: 2.25rem;
    &:hover{
        background-color: var(--primary-hover);
    }
    &:active{
        background-color: var(--primary-press);
    }
}

.btn-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background-color: #FFF;
    border: solid 1px #666;
    padding: 0 0.875rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #4D4D4D;
    width: fit-content;
    height: 2.25rem;
    &:hover{
        background-color: #F2F2F2;
    }
    &:active{
        border-color: #000;
        color: #000;
    }
}

.btn-search{
    width: 5rem;
}

.infobox{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: 0.5rem;
    background-color: #F4FBF4;
    padding: 1rem;
    margin-top: 1rem;

    p{
        margin: 0;
        padding: 0;
    }

    .button-row{
        display: flex;
        gap: 0.44rem;
    }
}

.table-button-row{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem 0;
    margin-top: 1rem;
}

.table-container{
    width: 100%;
    overflow: auto;

    & + .table-container{
        margin-top: 2rem;
    }

    table{
        width: max-content;
        border-spacing: 0;
        border-collapse: collapse;
        th, td{
            border: solid 1px #BFBFBF;
            padding: 0.7rem 1rem;
            vertical-align: middle;
            &.center{
                text-align: center;
                button{
                    margin: 0 auto;
                }
                .checkbox-row{
                    label{
                        text-indent: 1.3rem;
                    }
                }
            }
            &.right{
                text-align: right;
            }
            &.red{
                background-color: rgba(255,0,0,0.1);
                color: #000;
            }
            .button-row{
                display: flex;
                align-items: center;
                width: 100%;
                gap: 1rem;
            }
        }
        th{
            font-weight: 600;
            background-color: #F8FBF8;
            border: solid 1px var(--primary);
            &.required{
                &::after{
                    content: '*';
                    display: inline-block;
                    color: red;
                    margin-left: 0.2rem;
                }
            }
        }
        td{
            color: #4D4D4D;

            input[type='text'],
            input[type='date'],
            select
            {
                width: 100%;
            }
        }
        
    }
}

.section-header{
    font-size: 1rem;
    font-weight: 700;
    padding: 2rem 0 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: solid 2px var(--primary);

    &.mt-0{
        margin-top: 0;
    }

    &.padding-top-0{
        padding-top: 0;
    }
}


table.etc{
    margin-top: 1rem;
    colgroup{
        col{
            &:nth-of-type(1){
                width: 10rem;
            }
        }
    }
}

table.status{
    tbody{
        td{
            cursor: pointer;
        }
    }
}

table.stat{
    td{
        text-align: center;
    }
}

.popup-window{
    padding: 1rem;
    font-size: 0.875rem;

    .headers{
        font-size: 1.2rem;
        font-weight: 700;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
        border-bottom: solid 2px var(--primary);
        margin-top: 1rem;
        &:nth-of-type(1){
            margin-top: 0;
        }
    }

    .headers-sub{
        font-size: 1rem;
        font-weight: 700;
        padding: 0.5rem 0;
        margin-top: 1rem;
    }

    .summary{
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: #F4FBF4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .button-row{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        padding: 1rem;
    }
}

.section-header-row{
    display: flex;
    align-items: center;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border-bottom: solid 2px var(--primary);
    margin-bottom: 1rem;

    .section-header{
        padding: 0;
        border: 0;
        margin: 0;
    }
    .button-row{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-left: auto;
    }
}

.checkbox-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    label{
        display: block;
        min-width: 5rem;
        cursor: pointer;
    }
    input[type='checkbox']{
        width: 1.3em;
    }
}

table.history{
    tbody{
        td{
            cursor: pointer;
        }
    }
}

.common__search{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 2.25rem;
    background-color: #FFF;
    border: solid 1px #BFBFBF;
    padding: 0 0.5rem;

    input{
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        flex-grow: 1;
    }

    &:has(input:focus){
        border-color: var(--primary);
    }

    button{
        flex-shrink: 0;
        width: 2.25rem;
        height: 2.25rem;
        background-image: url(../image/icon-search.svg);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center;
    }
}

table.sub01-1-tables{
    table-layout: fixed;

    th{
        text-align: left;
    }

    colgroup{
        col{
            &:nth-of-type(1),
            &:nth-of-type(3){
                width: 8.75rem;
            }
        }
    }

    input, select{
        max-width: 25.46875rem;
    }
}

.common__radio-group{
    display: flex;
    align-items: center;
    gap: 1rem;
    .radio{
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
    input[type='radio']{
        display: block;
        width: 1.3em;
        cursor: pointer;
    }
    label{
        display: block;
        cursor: pointer;
    }
}

.contents-bottom-button-row{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem 0;
}

table.sub01-1{
    tbody{
        td{
            cursor: pointer;
        }
    }
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.5);
    }
    .container{
        width: 100%;
        max-width: 30rem;
        max-height: 90vh;
        min-height: 20rem;
        border-radius: 1rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 1rem rgba(0,0,0,0.2);
        transform-origin: center;
        animation: popupContainerIn 0.3s ease-in-out forwards;
        @keyframes popupContainerIn {
            0%{
                opacity: 0;
                transform: scale(0);
            }
            100%{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .header{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: var(--primary);
        border-radius: 1rem 1rem 0 0;
        flex-shrink: 0;
        width: 100%;
        .title{
            flex-grow: 1;
            text-align: center;
            font-weight: 600;
            padding: 0 2rem;
            text-indent: 2rem;
            color: #FFF;
        }
        .btn-popup-close{
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
            background-image: url(../image/close-wh.svg);
            background-repeat: no-repeat;
            background-size: 1.5rem;
            background-position: center;
        }
    }
    .message{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-basis: 0;
        overflow-y: auto;
        padding: 2rem;
        padding-bottom: 0;
        text-align: center;
        line-height: 140%;
        background-color: #FFF;
        width: 100%;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        padding: 2rem;
        background-color: #FFF;
        border-radius: 0 0 1rem 1rem;
        button{
            font-size: 1rem;
            flex-grow: 1;
        }
    }
}

.btn-code-search{
    height: 2rem;
    img{
        width: 1rem;
    }
}